doctype html
html
  head
    title= title
    meta(name='viewport', content='width=devide-width', initial-scale=1)
    link(href="https://fonts.googleapis.com/css?family=Ubuntu", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script( src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' )
    //- script( src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js')
    script(src='/javascripts/javascript.js')
  body
    div#topscroll
      a(style="text-decoration:none; color:black; font-weight:bold;", href="#top") TOP

    header(style="padding-top:20px; padding-down:20px;")
      ul(style="float:right; list-style:none;")
        li
          a(href="/notice" class="link") 공지사항
            - if ( user.id )
              li
                a(href="./logout", class="link") 로그아웃
            - else
              li
                a(href="./loginpage", class="link") 로그인
            - if ( user.id == "admin" )
              li
                a(href="./admin", class="link") 어드민
            - else if ( user.boardRequest == 2 )
              li
                a(href="./subadmin", class="link") 어드민
                
        
      div(style="text-align:center;")
        a(style="text-decoration:none; color:black; font-family:Ubuntu;", href="/start") elevator

    br

    div#nav
      nav
        a(href="./start") HOME
        a(href="./free") 자유게시판
        a(href="./music") 음악게시판
        a(href="./subs") 서브게시판
        a(href="./suggest") 건의게시판
    
    div#content
      br
      block contentX
    
    hr
    span(style="font-size:12px;") &nbsp; powered by 
    b(style="font-size:12px;") Project Elevator
    br
    br