doctype html
head
    title= title
    meta(name='viewport', content='width=devide-width', initial-scale=1)
    link(href="https://fonts.googleapis.com/css?family=Ubuntu", rel="stylesheet")
    style(type="text/css").
        body {
            background-color: rgb(247,250,255);
            font-family: consolas;
        }
        #content {
            width: 95%;
            margin: auto;
        }
        p {
            font-size: 16px;
        }
        hr {
            border: 1px solid rgb(0,91,159);
        }
        .tb {
            width: 400px;
            border-collapse: collapse;
            margin: auto;
        }
        .tb tr {
            border-top: 1px solid rgb(0,91,159);
            border-bottom: 1px solid rgb(0,91,159);
            height: 30px;
        }
        .tblink {
            color: black;
            text-decoration: none;
        }
        button {
            cursor: pointer;
        }
        .contentView {
            font-size: 16px;
            font-family: consolas;
            white-space: pre-wrap;
        }
body
    div#content
        br
        span(style="font-size:20px;")
            b(style="font-family:Ubuntu; font-size:25px;") #{playlist.id}
            span  님의 재생목록
            span(style="float:right;")
                img(src="images/profileimages/" + playlist.id, width="70", height="70")
            hr
            br
            br
            br

            - if ( playlist.list.length == 0 )
                p 아직 재생목록이 없습니다.
            table(border="0")
                each val in playlist.list
                    tr
                        td(style="font-size:17px;") #{val.title}
                        td
                            audio(controls)
                                source(src= val.path)

            br
            br
            
            br
            br
            button(onclick="window.open('about:blank', '_self').close()") 닫기
            br
            br