extends layout

block contentX

    div(style="width:1000px; margin:auto;")
        - if ( !user.nickname )
            form.loginbox(method="POST", action="./login")
                table(border="0", style="border-collapse:collapse;")
                    hr
                    tr 
                        td
                            input(type="text", name="id", placeholder="아이디", style="width:120px; height:20px")
                        td(rowspan="2")
                            input(type="submit", name="submit", style="height:55px;", value="로그인")
                    tr
                        td
                            input(type="password", name="password", placeholder="비밀번호", style="width:120px; height:20px;")
                hr
                a.link(href="./join") 회원가입
                span.link  | 
                a.link(href="./find") 아이디/비밀번호 찾기
        - else
            div.loginbox(style="text-align:center; font-size:13px;")
                b= user.nickname 
                span 님, 반갑습니다
                br
                hr(style="color:blue;")
                - if ( user.stop )
                    b(style="color:red;") 정지회원
                - else if ( user.id == 'admin' )
                    b 사이트 어드민
                - else
                    b 클린회원
                br
                a.link(href="javascript:;" onclick="info('" + user.id + "')") 나의 정보
                br
                a.link(href="./fix") 회원정보수정
                span  | 
                a.link(href="./logout") 로그아웃
                br
                hr(style="color:blue;")
                span 가입일: #{user.joindate}

        div.date
            span(style="font-size:25px; font-family:Ubuntu; float:left;") make your own music
            br
            //- span.link [공지] 나쁜 짓 하지마세요
    br
    
    div.box
        a.board(href="./free") ㆍ자유게시판
        hr
        div.startdiv Test
            //- each val in free
            //-     span #{val.title}
            //-     br
    br
    br

    div.box
        a.board(href="./suggest") ㆍ음악게시판
        hr
        div.startdiv Test2
    br
    br
    
    div.box
        a.board(href="./music") ㆍ건의게시판
        hr
        div.startdiv Test2
    br
    br