<div class="reg" style="border-width:0px;"><span style="float:left;">아이디 찾기</span><br/>
  <hr/><br/><span>회원코드를 입력해주세요.</span><br/><br/><input type="text" id="findid" #findid /><button (click)="find('id')">찾기</button>
  <p id="idresult" #idresult></p>
</div><br/><br/>
<div class="reg" style="border-width:0px;"><span style="float:left;">비밀번호 찾기</span><br/>
  <hr/><br/><span>회원코드를 입력해주세요.</span><br/><br/><input type="text" id="findpw" #findpw /><button (click)="find('pw')">찾기</button>
  <p id="pwresult" #pwresult></p>
</div><br/><br/>
