<div class="box" *ngIf="loggedIn">
  <span>구독한 게시판</span><hr/><br/>
  <ul *ngFor="let val of user.subscribes">
    <li>
      <a class="link" style="font-size:16px;" [routerLink]="['./subboard']" [queryParams]="{type: val}">{{val}}</a>
    </li>
  </ul>
</div>

<div class="box">
  <span>서브게시판 목록</span><hr/><br/>
  <ul *ngIf="loggedIn">
    <ng-container *ngFor="let val of sub">
      <li>
        <a class="link" style="font-size:16px;" href="javascript:;" (click)="onSubscribeBoard(val.id)">{{val.id}}</a> 
        <span style="font-size:12px; color:grey;">[{{val.subscribes-1}}]</span>
      </li>
    </ng-container>
  </ul>
  <ul *ngIf="!loggedIn">
    <ng-container *ngFor="let val of sub">
      <li>
        {{val.id}} <span style="font-size:12px; color:grey;">[{{val.subscribes-1}}]</span>
      </li>
    </ng-container>
  </ul>
  <br/><br/>
</div>
