<div id="topscroll">
  <a style="text-decoration:none; color:black; font-weight:bold;" href="#top">TOP</a>
</div>

<header style="padding-top:20px; padding-bottom:20px;">
  <ul style="float:right; list-style:none;">
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['./notice']" class="link">공지사항</a>
    </li>
    <li *ngIf="handleuserService.loggedIn()">
      <a (click)="onLogoutClick()" href="javascript:;" class="link">로그아웃</a>
    </li>
    <li *ngIf="!handleuserService.loggedIn()" [routerLinkActive]="['active']">
      <a [routerLink]="['./loginpage']" class="link">로그인</a>
    </li>
    <!-- have to add links to admin page here -->
    <li *ngIf="loggedIn && user.id == 'admin'" [routerLinkActive]="['active']">
      <a [routerLink]="['./admin']" class="link">어드민</a>
    </li>
    <li *ngIf="loggedIn && user.boardRequest == 2" [routerLinkActive]="['active']">
        <a [routerLink]="['./subadmin']" class="link">어드민</a>
    </li>
  </ul>
  <div style="text-align:center;">
    <a style="text-decoration:none; color:black; font-family:Ubuntu;" [routerLink]="['./start']">
      elevator
    </a>
  </div>
</header>
<br/>
<div id="nav">
  <nav>
    <a [routerLink]="['./start']">HOME</a>
    <a [routerLink]="['./free']">자유게시판</a>
    <a [routerLink]="['./music']">음악게시판</a>
    <a [routerLink]="['./subs']">서브게시판</a>
    <a [routerLink]="['./suggest']">건의게시판</a>
  </nav>
</div>
