<div class="box">
  <table class="admintable">
    <tr>
      <th>ID</th>
      <th>관리</th>
    </tr>
    <ng-container *ngFor="let val of sub?.stops">
      <tr *ngIf="val != sub.id && val != 'admin'">
        <td><b style="cursor:pointer; color:red;" [attr.id]="val" (click)="openInfoWindow(val)">{{val}}</b></td>
        <td><button (click)="onStopUser(val)" [attr.id]="val + 'button'">해제</button></td>
      </tr>
    </ng-container>
    <ng-container *ngFor="let val of clean">
      <tr *ngIf="val != sub.id && val != 'admin'">
        <td><b style="cursor:pointer;" [attr.id]="val" (click)="openInfoWindow(val)">{{val}}</b></td>
        <td><button (click)="onStopUser(val)" [attr.id]="val + 'button'">정지</button></td>
      </tr>
    </ng-container>
  </table>
</div>
