<div class="box">
  <span style="font-size:20px;">{{content.title}}</span>
  <span style="float:right;">
    <a class="tblink" href="javascript:;" onclick="">{{content.nickname}}</a>
  </span>
  <hr/>
  <span style="float:right; font-size:13px;">{{content.writedate}}</span>
  <br/>
  <span style="float:right; font-size:13px;">조회 {{content.hit}} &nbsp;댓글 {{content.comment.length}}</span>
  <ng-container *ngIf="listurl == 'music'">
    <br/>
    <span id="gradeSpan" style="float:right; font-size:13px;" #gradeSpan>평점 {{content.grade}} by {{content.gradeby.length}}명</span>
    <ng-container *ngIf="content.grade >= 3 && content.gradeby.length >= 1 && user.id == content.id && writer.boardRequest == 0">
      <!-- content.grade / content.gradeby.length == average -->
      <!-- if writer.boardRequest == 0, can request to admin to make own board -->
      <!-- after requested, writer.boardRequest would be 1 -->
      <!-- when admin accept the request, writer.boardRequest would be 2 and having own board -->
      <br/><button id="boardRequest" style="float:right;" (click)="requestBoard()" #boardRequest>게시판 생성 요청</button>
    </ng-container>
    <ng-container *ngIf="user.id == 'admin' && writer.boardRequest == 1">
      <br/><button id="boardRequest" style="float:right;" (click)="acceptBoard()" #boardRequest>게시판 생성 요청 수락</button>
    </ng-container>
  </ng-container><br/><br/>

  <div style="text-align:center;" *ngIf="content?.image != ''">
    <img src="content?.image" width="imageWidth"/>
    <br/><br/>
  </div>
  <div style="text-align:center;" *ngIf="content?.image != ''">
    <audio controls>
      <source src="content?.audio"/>
    </audio>
    <br/><br/>
  </div>
  <div style="padding:20px;">
    <pre class="contentView">{{content.content}}</pre>
  </div><br/><br/><br/>

  <div style="text-align:center;">
    <ng-container *ngIf="listurl == 'music' && loggedIn">
      <select id="grade" *ngIf="listurl == 'music' && loggedIn" #grade>
        <option value="5">★★★★★</option>
        <option value="4">★★★★</option>
        <option value="3">★★★</option>
        <option value="2">★★</option>
        <option value="1">★</option>
      </select>
      <button (click)="onRecommend()" id="recommendbtn">평가</button>
    </ng-container>
    <button *ngIf="loggedIn && listurl != 'music'" id="recommendbtn" (click)="onRecommend()" #recommendBtn>추천 {{content.recommend}}</button>
  </div><br/><hr/>

  <!-- ###################### written comment part ###################### -->
  <table class="tb2" *ngFor="let val of content.comment">
    <tr style="height:110px; vertical-align:top;">
      <td style="text-align:center; vertical-align:middle; width:110px; border-right:1px solid rgb(0,91,159);">
        <img src="images/profileimages/val.id" width="70" height="70" />
      </td>
      <td style="vertical-align:top;">
        <div style="font-size:12px; padding:2px; margin-left:5px; border-bottom:1px dotted rgb(0,91,159);">
          <b *ngIf="val.id == 'admin'"><a class="tblink" href="javascript:;" onclick="">{{val.nickname}}</a></b>
          <a *ngIf="val.id != 'admin'" class="tblink" href="javascript:;" onclick="">{{val.nickname}}</a>
          <span style="font-size:12px; float:right;">
            <form *ngIf="user.id == val.id || user.id == 'admin' || boardtype == user.id" (submit)="onDeleteComment()" id="removeCmt+{{val.num}}" style="display:none;">
              <input type="hidden" name="contentnum" [(ngModel)]="contentnum" value="{{content.num}}" />
              <input type="hidden" name="num" [(ngModel)]="num" value="{{val.num}}" />
              <input type="hidden" name="id" [(ngModel)]="id" value="{{val.id}}" />
              <input type="hidden" name="boardtype" [(ngModel)]="commentBoardtype" value="{{boardtype}}" />
            </form>
            <a *ngIf="user.id == val.id || user.id == 'admin' || boardtype == user.id" class="link" href="javascript:;" onclick="document.getElementById('removeCmt' + val.num).submit()">삭제</a>
            <span>{{val.writedate}}</span>
          </span>
        </div>
        <div style="padding-left:10px;">
          <pre class="contentView" *ngIf="content.id == val.id" style="color:blue;">{{val.comment}}</pre>
          <pre class="contentView" *ngIf="content.id != val.id">{{val.comment}}</pre>
        </div>
      </td>
      <td style="text-align:right;"></td>
    </tr>
  </table><br/>

  <!-- ###################### writing comment part ###################### -->
  <form *ngIf="loggedIn && !user.stop" (submit)="onWriteComment()">
    <br/>
    <input type="hidden" name="board" [(ngModel)]="board" value="{{listurl}}" />
    <input type="hidden" name="_id" [(ngModel)]="_id" value="{{content._id}}" />
    <table style="width:700px; margin:auto;">
      <tr>
        <td><textarea cols="80" rows="5" name="comment" [(ngModel)]="comment"></textarea></td>
        <td><input type="submit" name="cmt" value="댓글달기" style="width:100px; height:80px;" /></td>
      </tr>
    </table>
    <br/>
  </form>
  <hr/><button style="float:right;" [routerLink]="['./listurl', {type: boardtype}]">목록</button><br/><br/>
</div>

<div class="box">
  <span>{{type}}</span><hr/><br/><br/>
  <table class="tb">
    <tr style="height:25px; font-weight:bold">
      <td style="width:70px">번호</td>
      <td style="width:140px">제목</td>
      <td style="width:65px">작성자</td>
      <td style="width:100px">날짜</td>
      <td style="width:55px">조회수</td>
      <td style="width:40px">추천</td>
    </tr>

    <ng-container *ngFor="let val of all">
      <tr class="trhover" style="height:20px;">
        <td>{{val.num}}</td>
        <td style="text-align:left; padding:50px;">
          <a class="link" [routerLink]="['./content', {type: boardtype, num: val.num}]">{{val.title}}</a> 
          <span style="font-size:12px; color:grey;" *ngIf="val.comment.length > 0"> [{{val.comment.length}}]</span>
        </td>
        <td>{{val.nickname}}</td>
        <td>{{val.writedate}}</td>
        <td>{{val.hit}}</td>
        <td>{{val.recommend}}</td>
      </tr>
    </ng-container>

  </table>
</div>
